<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <div th:if="${row == 1}">
        <script>
            alert("로그인 완료");
            window.location = "/index"; <!-- 로그인 페이지로 이동 -->
        </script>
    </div>

    <div th:if="${row == 0}">
        <script>
            alert("비밀번호가 다릅니다");
            history.back(); <!-- 이전 페이지로 돌아가기 -->
        </script>
    </div>

    <div th:if="${row == -1}">
        <script>
            alert("없는 아이디입니다");
            history.back(); <!-- 이전 페이지로 돌아가기 -->
        </script>
    </div>
</body>
</html>
