<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <script type="text/javascript" src="/Script/script"></script>
</head>
<body>
    <div class="header_body" th:fragment="header">
        <div class="header_all">
            <th:block th:replace="Util/main_logo :: main_logo"></th:block>
            <div class="header_search_bar">
                <form name="search_bar" action="/search" method="get">
                    <div class="search_container">
                        <input name="text" placeholder="검색어를 입력하세요.">
                        <button type="button" th:onclick="search_button()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <div class="header_link">
                <div th:if="${#strings.isEmpty(user)}">
                    <a th:href="@{/userLoginPage}">로그인</a>
                    <a th:href="@{/userInsertPage}">회원가입</a>
                </div>
                <div th:if="${not #strings.isEmpty(user)}">
                    <div th:if="${user.userEmail == 'admin'}">
                        <a th:href="@{/manage}">관리자</a>
                    </div>
                    <a th:href="@{/user_logout}">로그아웃</a>
                    <div th:if="${user.userEmail != 'admin'}">
                        <a th:href="@{/User/myPage.jsp}">마이 페이지</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ul class="header_navigation">
                <li><a th:href="@{/etcPC(category='home')}">조립 PC</a></li>
                <li><a th:href="@{/Product/Product_main.jsp}">PC 부품</a></li>
                <li><a th:href="@{/ProductCPUController}">CPU</a></li>
                <li><a th:href="@{/ProductMBController}">메인보드</a></li>
                <li><a th:href="@{/ProductGPUController}">그래픽카드</a></li>
                <li><a th:href="@{/ProductRAMController}">램</a></li>
                <li><a th:href="@{/ProductSSDController}">SSD</a></li>
                <li><a th:href="@{/ProductCOOLERController}">쿨러/튜닝</a></li>
                <li><a th:href="@{/ProductHDDController}">HDD</a></li>
                <li><a href="">케이스</a></li>
                <li><a th:href="@{/ProductPOWERController}">파워</a></li>
                <li><a th:href="@{/boardList}">커뮤니티</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
