<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanada.mapper.IndexMapper">
	<select id="indexBannerList" resultType="com.wanada.dto.IndexBannerDTO">
		select * from index_banner
	</select>
	<select id="indexGamePcList" resultType="com.wanada.dto.IndexGamePcDTO">
		select * from (select * from index_game_pc order by game_pc_index desc) where rownum &lt;= 4
	</select>
	<select id="recommandPcGameList" resultType="com.wanada.dto.RecommandPcDTO">
		select * from recommand_pc where subject='game'
	</select>
	<select id="recommandPcPartsList" resultType="com.wanada.dto.RecommandPcDTO">
		select * from recommand_pc where subject='parts'
	</select>
	<select id="indexPcList" resultType="com.wanada.dto.PcDTO">
		select * from pc_list where category like '%' || #{category} || '%' and rownum &lt;= 4 order by performance_level desc
	</select>
	<select id="pcDetail" resultType="com.wanada.dto.PcDTO">
		select * from pc_list where product_id = #{product_id}
	</select>
	<select id="cpu" resultType="com.wanada.dto.CpuDTO">
		select * from computer_cpu where cpu_name = (select cpu from pc_list where product_id = #{product_id})
	</select>
	<select id="cooler" resultType="com.wanada.dto.CoolerDTO">
		select * from computer_cooler where cooler_name = (select cooler from pc_list where product_id = #{product_id})
	</select>
	<select id="mainboard" resultType="com.wanada.dto.MainBoardDTO">
		select * from computer_mainboard where mb_name = (select mainboard from pc_list where product_id = #{product_id})
	</select>
	<select id="ram" resultType="com.wanada.dto.RamDTO">
		select * from computer_ram where ram_name = (select ram from pc_list where product_id = #{product_id})
	</select>
	<select id="gpu" resultType="com.wanada.dto.GpuDTO">
		select * from computer_gpu where gpu_name = (select gpu from pc_list where product_id = #{product_id})
	</select>
	<select id="ssd" resultType="com.wanada.dto.SsdDTO">
		select * from computer_ssd where ssd_name = (select ssd from pc_list where product_id = #{product_id})
	</select>
	<select id="power" resultType="com.wanada.dto.PowerDTO">
		select * from computer_power where power_name = (select power from pc_list where product_id = #{product_id})
	</select>
	<select id="pc_case" resultType="com.wanada.dto.CaseDTO">
		select * from computer_case where case_name = (select pc_case from pc_list where product_id = #{product_id})
	</select>
	<select id="indexBoardList" resultType="com.wanada.dto.BoardDTO">
		select * from boardcomment where rownum &lt;= 8 order by board_index desc
	</select>
	<select id="etcPC" resultType="com.wanada.dto.IndexBannerDTO">
		select * from index_banner where category = #{category}
	</select>
	<select id="gamePC" resultType="com.wanada.dto.IndexGamePcDTO">
		select * from index_game_pc where category = #{category}
	</select>
	<select id="searchBoard" resultType="com.wanada.dto.BoardDTO">
		select * from boardcomment where upper(theme) like upper('%' || #{text} || '%') or upper(content) like upper('%' || #{text} || '%')
	</select>
	<select id="searchCase" resultType="com.wanada.dto.CaseDTO">
		select * from computer_case where upper(case_name) like upper('%' || #{text} || '%')
	</select>
	<select id="searchCooler" resultType="com.wanada.dto.CoolerDTO">
		select * from computer_cooler where upper(cooler_name) like upper('%' || #{text} || '%')
	</select>
	<select id="searchCpu" resultType="com.wanada.dto.CpuDTO">
		select * from computer_cpu where upper(cpu_name) like upper('%' || #{text} || '%')
	</select>
	<select id="searchGpu" resultType="com.wanada.dto.GpuDTO">
		select * from computer_gpu where upper(gpu_name) like upper('%' || #{text} || '%')
	</select>
	<select id="searchHdd" resultType="com.wanada.dto.HddDTO">
		select * from computer_hdd where upper(hdd_name) like upper('%' || #{text} || '%')
	</select>
	<select id="searchMainBoard" resultType="com.wanada.dto.MainBoardDTO">
		select * from computer_mainboard where upper(mb_name) like upper('%' || #{text} || '%')
	</select>
	<select id="searchPower" resultType="com.wanada.dto.PowerDTO">
		select * from computer_power where upper(power_name) like upper('%' || #{text} || '%')
	</select>
	<select id="searchRam" resultType="com.wanada.dto.RamDTO">
		select * from computer_ram where upper(ram_name) like upper('%' || #{text} || '%')
	</select>
	<select id="searchSsd" resultType="com.wanada.dto.SsdDTO">
		select * from computer_ssd where upper(ssd_name) like upper('%' || #{text} || '%')
	</select>
	<select id="searchPc" resultType="com.wanada.dto.PcDTO">
		select * from pc_list where cpu like upper('%' || #{text} || '%') or mainboard like upper('%' || #{text} || '%') 
		or cooler like upper('%' || #{text} || '%') or gpu like upper('%' || #{text} || '%') or ram like upper('%' || #{text} || '%') 
		or ssd like upper('%' || #{text} || '%') or power like upper('%' || #{text} || '%') or pc_case like upper('%' || #{text} || '%')
	</select>
</mapper>